<div>
  <app-select-matiere></app-select-matiere>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="PDFdisplayer">
        <app-pdf-display class = "pdf" [type]="'_s'"></app-pdf-display>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">Lien correction</div>
          </div>
          <div class="col-md-6">Best </div>
          <div class="col-md-6">Fresh </div>
          <div class="row">
            <div class="col-lg-12">ARCHIVE</div>
          </div>
        </div>
      </div>
    </div>
    <aside class="col-lg-3">Chat</aside>
  </div>
</div>
