<div>
  <app-select-matiere></app-select-matiere>
</div>

<div class="container">
  <div class="row">
    <article class="col-lg-8">
      <app-pdf-display [type]="'_s'"></app-pdf-display>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">Lien correction</div>
          </div>
          <div class="col-md-6">Best </div>
          <div class="col-md-6">Fresh </div>
          <div class="row">
            <div class="col-lg-12">ARCHIVE</div>
          </div>
        </div>
      </div>
    </article>
    <aside class="col-lg-4">Chat</aside>
  </div>
</div>
