<!-- Ce component implémente la barre de navigation qui permet de choisir les matières -->
<div class="container">
  <div *ngIf="noFileSelected" class="alert alert-danger">Veuillez choisir un sujet!</div>
  <nav class="navbar navbar-fixed-top">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="navbar-collapse">
        <ul class="nav navbar-nav">
          <ul class="navbar-header">
            <a class="navbar-brand" href="http://localhost:4200/accueil">Queriddle </a>
          </ul>
            <li class = "styled-select">
              <select [(ngModel)]="selectedAnnee" class="form-control" name="anneeTC" >
                <option disabled>Annee TC</option>
                <option value="3TC">3TC</option>
                <option value="4TC">4TC</option>
              </select>
            </li>
            <li  *ngIf="matieresLoaded | async" class = "styled-select" >
              <select [(ngModel)]="selectedMatiere" class="form-control" name="matiere">
                <option disabled> Matière </option>
                <option *ngFor="let matiere of matieres[selectedAnnee]"
                        [value]="matiere"> {{matiere}} </option>
              </select>
            </li>
            <li *ngIf="filesLoaded | async" class = "styled-select">
              <select [(ngModel)]="selectedFile" class="form-control" name="file">
                <option disabled> Annee </option>
                <option *ngFor="let file of files[selectedMatiere]"
                        [value]="file">
                  {{file}}
                </option>
              </select>
            </li>
          <li class="boutonsBarre">
            <button class="btn btn-primary choisir" type="submit">Choisir</button>
          </li>
        </ul>
      </div>
    </form>
  </nav>
</div>

<div class="container">
  <button (click)="switchToSujet()" class="btn col-md-4 sujet">Sujet</button>
  <button (click)="switchToCorrection()" class="btn col-md-offset-1 col-md-4 correction">Correction</button>
</div>

