<div class="container">
  <nav class="navbar navbar-fixed-top">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto">
          <li class = "styled-select">
            <select id="anneeTC" name="anneeTC">
              <option value = "3TC">3TC</option>
              <option value = "4TC">4TC</option>
              <option value = "5TC">5TC</option>
            </select>
          </li>
          <li class = "styled-select">
            <select id="matiere" name ="matiere">
              <option value = "PWEB">PWEB</option>
              <option value = "TSA">TSA</option>
              <option value = "WEB">WEB</option>
            </select>
          </li>
          <li class = "styled-select">
            <select id="annee" name = "annee">
              <option value = "2018">2018</option>
              <option value = "2017">2017</option>
              <option value = "2016">2016</option>
            </select>
          </li>
          <li>
            <button type="submit" class="btn btn-primary">C'est parti</button>
          </li>
          <li>
            <button type= "button" class="btn btn-secondary">Mon compte</button>
          </li>
        </ul>
      </div>
    </form>
  </nav>
</div>


