<!-- Component principal, il met en forme la page d'accueil -->
<div>
  <app-select-matiere></app-select-matiere>
</div>
<div class="container">
  <div class="row">
    <article class="col-lg-9 principalContainer">
      <div class="PDFdisplayer">
        <app-pdf-display class = "pdf"></app-pdf-display>
      </div>
      <div class="row">
        <app-blog></app-blog>
      </div>
    </article>
    <div id="chatBox" class="col-lg-2 chat" >
      <app-chat></app-chat>
    </div>
  </div>
</div>
