<div>
  <app-select-matiere></app-select-matiere>
</div>

<div class="container">
  <div class="row">
    <article class="col-lg-9">
      <div class="PDFdisplayer">
        <app-pdf-display class = "pdf"></app-pdf-display>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div hidden>
            <div class="col-md-12">Lien correction</div>
          </div>
        </div>
        <div class="btn col-md-6 sujet type=submit">Fresh </div>
        <div class="btn col-md-6 correction type=submit">Best </div>
        <div class="col-lg-12">ARCHIVE</div>
      </div>
    </article>
    <aside class="col-lg-2 chat" >
      <input type="text" class="col-lg-2 chatInput" value="" placeholder="chattez!" name="mail">
    </aside>
  </div>
</div>
