<div>
  <app-select-matiere></app-select-matiere>
</div>

<div class="container">
  <div class="row">
    <article class="col-lg-9">
      <div class="PDFdisplayer">
        <app-pdf-display class = "pdf"></app-pdf-display>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div hidden>
            <div class="col-md-12">Lien correction</div>
          </div>
        </div>
        <app-blog></app-blog>
      </div>
    </article>
    <div class="col-lg-2 chat" >
      <app-chat></app-chat>
    </div>
  </div>
</div>
